@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

.Homepage {
  background: rgb(70, 149, 245);
  background: linear-gradient(
    180deg,
    rgba(70, 149, 245, 1) 60%,
    rgb(185, 226, 236) 100%
  );
  margin-bottom: -00px;
}

.navigasi {
  margin-left: 370px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.navigasi p {
  font-weight: 500;
  margin-left: 20px;
  margin-right: 40px;
  font-family: Inter;
  font-size: 14px;
}

.Demo {
  font-family: Inter;
  margin-top: 10px;
  width: 200px;
  margin-left: 100px;
  color: white;
  border-radius: 20px;
  height: 40px;
  border: none;
  background: rgb(44, 155, 243);
  background: linear-gradient(
    107deg,
    rgba(44, 155, 243, 1) 76%,
    rgba(255, 255, 255, 1) 96%
  );
  font-size: 16px;
}

/* HEADER */

.header span {
  color: rgb(255, 74, 74);
  color: linear-gradient(
    95deg,
    rgba(255, 74, 74, 1) 43%,
    rgba(255, 107, 107, 1) 72%
  );
}
.header {
  margin-left: 170px;
  display: flex;
  flex-wrap: wrap;
}
.header h1 {
  color: white;
  font-size: 45px;
  width: 600px;
  font-family: Inter;
  font-weight: 600;
  margin-top: 0px;
}

.header p {
  font-size: 20px;
  width: 500px;
  font-family: Inter;
  color: white;
  margin-top: -160px;
  font-weight: 450;
}

.header img {
  margin-left: 70px;
}
.pelajari {
  font-family: Inter;
  margin-top: -20px;
  width: 240px;
  margin-left: -500px;
  color: white;
  border-radius: 20px;
  height: 50px;
  border: none;
  background: rgb(255, 74, 74);
  background: linear-gradient(
    95deg,
    rgba(255, 74, 74, 1) 43%,
    rgba(255, 107, 107, 1) 72%
  );
  font-size: 18px;
  margin-bottom: 200px;
}

/* Manajemen */

.container {
  background: rgb(83, 179, 245);
  background: linear-gradient(
    0deg,
    rgba(83, 179, 245, 1) 32%,
    rgba(141, 206, 250, 1) 45%,
    rgba(243, 243, 255, 1) 67%
  );
}

.container-kecil {
  border-radius: 100px;
  background-color: rgb(167, 67, 67);
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 200px;
}

.container-kecil h1 {
  padding-top: 20px;
  width: 600px;
  font-family: Inter;
  margin-left: 350px;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}
.container-kecil span {
  color: rgb(255, 74, 74);
  color: linear-gradient(
    95deg,
    rgba(255, 74, 74, 1) 43%,
    rgba(255, 107, 107, 1) 72%
  );
}

.gambar-container {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gambar-container img {
  margin-right: 20px;
  margin-bottom: 20px;
}

/* TENTANG KAMI */

.kami {
  margin-left: 670px;
  border: none;
  width: 190px;
  height: 40px;
  /* border-width: 200px; */
  background-color: #60a0d4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 17px;
}

.duakami {
  display: flex;
  margin-left: 150px;
}
.duakami img {
  margin-right: 150px;
}

.paraf h1 {
  font-family: Inter;
  width: 450px;
  font-size: 35px;
  margin-bottom: 50px;
}
.paraf p {
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  margin-right: 240px;
  margin-bottom: 30px;
}

.paraf span {
  color: rgb(255, 74, 74);
  color: linear-gradient(
    95deg,
    rgba(255, 74, 74, 1) 43%,
    rgba(255, 107, 107, 1) 72%
  );
}

.masalah {
  margin-top: 250px;
}

.masalah h1 {
  color: white;
  text-align: center;
  font-family: Inter;
  font-weight: 600;
}
.masalah h2 {
  text-align: center;
  margin-bottom: 100px;
  margin-left: 500px;
  font-family: Inter;
  color: white;
  font-weight: 400;
  font-size: 20px;
  width: 500px;
}
.masalah span {
  color: rgb(255, 74, 74);
  color: linear-gradient(
    95deg,
    rgba(255, 74, 74, 1) 43%,
    rgba(255, 107, 107, 1) 72%
  );
}
.masalahgambar{
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
  width: 1000px;

  
  
}

.masalahgambar img {
  margin-bottom: 20px;
  margin-left: 20px;
}